@import "tailwindcss";

@theme {
  /* 🎨 Colors */
  --color-primary: #9067c6;
  --color-primary-dark: #242038;
  --color-primary-light: #8d86c9;

  --color-secondary: #cac4ce;
  --color-secondary-light: #f7ece1;

  --color-neutral-dark: #242038;
  --color-neutral-light: #f7ece1;

  /* 🔤 Fonts */
  --font-sans: "Poppins", sans-serif;
  --font-blinker: "Blinker", sans-serif;
}
.main-background {
  @apply bg-[linear-gradient(87.84deg,#242038_25.96%,#3A355A_92.07%,#8D86C9_123.1%)];
}

.cards-styling {
  @apply absolute bg-white/20 backdrop-blur-md rounded-2xl px-6 py-8 text-white text-sm font-semibold;
}

.get-started-button {
  @apply px-8 mt-8 py-2 px-12 cursor-pointer bg-linear-to-r from-[var(--color-primary-dark)] to-[var(--color-primary)] rounded-full transition-all duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:bg-none hover:bg-[var(--color-primary-dark)];
}

.cards {
  @apply relative rounded-2xl p-6 border border-white/10 backdrop-blur-xl shadow-lg transition-all duration-300 hover:bg-white/10 hover:shadow-2xl hover:-translate-y-2;
}
.cards-bg {
  @apply absolute inset-0 rounded-xl opacity-50 bg-[radial-gradient(circle_at_top_left,rgba(255,255,255,0.6),transparent_80%)];
}

.cards-icon {
  @apply w-12 h-12 flex items-center justify-center rounded-full bg-white/40 mb-4 text-white;
}
